body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.border-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(243, 247, 226);
  border: 1px solid #999;
  float: left;

  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;

  height: 34px;
  width: 34px;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.square:focus{
  outline: none;
}

.kbd-navigation .square:focus{
  background: #ddd;
}

.game{
  display: flex;
  flex-direction: row;
}

.game-info{
  margin-left: 20px;
}

border{
  border: 1px solid #636e72;
  border-radius: 5px;
}

button:hover{
  background-color: #81ecec;
  border: 1px solid #636e72;
  border-radius: 2px;
}

footer{
  margin-top: 100px;
  height: 35px;
  width: 100vw;
  background-color: #81ecec;
  color: #2d3436;
  text-align: center;
  text-decoration: none;
}